.idea/*
.venv/*
venv/*
venv_local/*
venv_vm/*
pscraper.egg-info/*
dist/*
pyproject.toml
./*/__pycache__/*
./back_office/crwaling/patchfiles
./build/*
./build/main/*
.vscode/*
*.csv
*.pyc
*.png
*.msu
*.xml
*.cab
*.toc
*.pkg
*.html
*.zip
*.pkg
*.manifest
*.pyz
*.spec
*.crdownload