.idea/*
.venv/*
./*/__pycache__/*
./back_office/crwaling/patchfiles
./build/*
./build/main/*
./bin/data/*.xlsx

*.log
*.csv
*.pyc
*.png
*.msu
*.xml
# *.txt
*.cab
*.toc
*.pkg
*.html
*.zip
*.pkg
*.manifest
*.pyz
*.txt
*.spec
*.crdownload