.idea/*
.venv/*
venv/*
venv_local/*
venv_vm/*
pscraper.egg-info/*
dist/*
pyproject.toml
./*/__pycache__/*
./back_office/crwaling/patchfiles
./build/*
./build/main/*
./bin/data/*.xlsx
.vscode/*
*.log
*.csv
*.pyc
*.png
*.msu
*.xml
# *.txt
*.cab
*.toc
*.pkg
*.html
*.zip
*.pkg
*.manifest
*.pyz
# *.txt
*.spec
*.crdownload